github "ReactiveCocoa/ReactiveSwift" "master"
github "ReactiveCocoa/ReactiveCocoa" "master"
github "ReactiveCocoa/ReactiveObjC" "master"
github "ReactiveCocoa/ReactiveObjCBridge" "master"
#github "DaveWoodCom/XCGLogger"c