github "ReactiveCocoa/ReactiveSwift" "1.0.0-alpha.3"
github "ReactiveCocoa/ReactiveCocoa" "master"
github "ReactiveCocoa/ReactiveObjC" "master"
github "ReactiveCocoa/ReactiveObjCBridge" "master"
#github "DaveWoodCom/XCGLogger"